# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\20201\Tri Tue Nhan Tao\Chess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
